@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@font-face {
  font-family: "font-Architects";
  src: url(./assets/fonts/ArchitectsDaughter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

body {
  background: black;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  color: #f3f0f0;
  cursor: pointer;
  font-size: 2rem;
  mix-blend-mode: difference;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#backToTop:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (max-width: 376px) {
  #backToTop {
    opacity: 0;
  }
}

header .nav-bar {
  background-image: url(../img/pc-portable.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

header .nav-bar:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #161616;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}

@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header li {
  margin: 20px;
}

a {
  font-family: "Architects Daughter", cursive;
  color: white;
}

a:hover {
  color: white;
}

.underline {
  display: inline-block;
  position: relative;
  color: #f3f0f0;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#363636));
  background: linear-gradient(90deg, white 0%, #363636 100%);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.titre {
  text-align: center;
  margin-top: 250px;
}

.titre h1 {
  width: 490px;
  display: inline-block;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.534);
  color: rgba(240, 240, 240, 0.952);
  font-family: 'Architects Daughter', cursive;
  font-size: 5em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #f0eeee;
  -webkit-animation: cursor 7s infinite linear, typing 5s steps(15) infinite both;
          animation: cursor 7s infinite linear, typing 5s steps(15) infinite both;
}

@-webkit-keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #252525;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #252525;
  }
  100% {
    border-color: transparent;
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 650px;
  }
  70% {
    width: 650px;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 650px;
  }
  70% {
    width: 650px;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.titre h2 {
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  color: #f0eeee;
}

@media (max-width: 760px) {
  .titre h1 {
    font-size: 2.5rem;
  }
  @-webkit-keyframes typing {
    0% {
      width: 0;
    }
    30% {
      width: 350px;
    }
    70% {
      width: 350px;
    }
    90% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    30% {
      width: 350px;
    }
    70% {
      width: 350px;
    }
    90% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
}

@media (max-width: 660px) {
  .nav-bar a {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .nav-bar a {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .nav-bar a {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .nav-bar li {
    margin: 10px;
  }
  .nav-bar a {
    font-size: 0.8rem;
  }
}

@media (max-width: 376px) {
  .nav-bar li {
    margin: 8px;
  }
  .nav-bar a {
    font-size: 0.9rem;
  }
  .titre h1 {
    font-size: 1.7rem;
  }
  @-webkit-keyframes typing {
    0% {
      width: 0;
    }
    30% {
      width: 210px;
    }
    70% {
      width: 210px;
    }
    90% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
    30% {
      width: 210px;
    }
    70% {
      width: 210px;
    }
    90% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  .titre h2 {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.534);
    margin-left: 70px;
    width: 170px;
  }
}

.presentation-container {
  text-align: center;
  border-bottom: 1px solid white;
  min-height: 600px;
}

.presentation-container h3 {
  margin: 100px auto;
  font-size: 3rem;
  color: #f3f0f0;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: capitalize;
}

.presentation-container p {
  font-size: 1.5rem;
  color: #f3f0f0;
  font-family: "Architects Daughter", cursive;
  padding: 0px 200px 0px;
  margin: 30px 30px 90px 30px;
  max-width: 1800px;
}

.presentation-container #centeralign {
  display: table-cell;
  vertical-align: middle;
}

.presentation-container #btn-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation-container #btn-cv {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  color: #f3f0f0;
  background-color: #0c0c0c;
  border-radius: 20px;
  margin-bottom: 30px;
  font-family: "Architects Daughter", cursive;
}

.presentation-container #btn-cv:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 2ms;
  transition: 2ms;
  -webkit-box-shadow: 2px 2px 3px white;
          box-shadow: 2px 2px 3px white;
}

@media (max-width: 860px) {
  .presentation-container p {
    padding: 0px 100px;
  }
}

@media (max-width: 550px) {
  .presentation-container p {
    margin: 50px;
    padding: 0;
  }
}

@media (max-width: 340px) {
  .presentation-container h3 {
    font-size: 1.5rem;
  }
  .presentation-container p {
    padding: 0;
    font-size: 1rem;
  }
}

#col-container {
  min-width: 300px;
  max-width: 500px;
  margin: 40px;
}

#titre-skills {
  margin: 50px auto;
  font-size: 3rem;
  color: #f3f0f0;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

section {
  background-color: black;
}

.skills {
  background: black;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 40px;
  color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-right {
  background-image: url(../img/me.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  height: 400px;
  width: 400px;
}

h4 {
  font-size: 1.7rem;
  margin: 10px;
  font-family: "Architects Daughter", cursive;
}

h6 {
  font-size: 1.1rem;
  margin: 10px;
  font-family: "Architects Daughter", cursive;
}

.progress-1 {
  background-color: white;
  width: 90%;
  margin: 0px 30px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 10px;
}

.barre-1 {
  background-color: #ee660c;
  height: 10px;
  width: 80%;
  border-radius: 10px;
}

.progress-2 {
  background-color: white;
  width: 90%;
  margin: 0px 30px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 10px;
}

.barre-2 {
  background-color: blue;
  height: 10px;
  width: 70%;
  border-radius: 10px;
}

.progress-3 {
  background-color: white;
  width: 90%;
  margin: 0px 30px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 10px;
}

.barre-3 {
  background-color: #00eeff;
  height: 10px;
  width: 55%;
  border-radius: 10px;
}

.progress-4 {
  background-color: white;
  width: 90%;
  margin: 0px 30px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 10px;
}

.barre-4 {
  background-color: #bd0ed4;
  height: 10px;
  width: 60%;
  border-radius: 10px;
}

.progress-5 {
  background-color: white;
  width: 90%;
  margin: 0px 30px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 10px;
}

.barre-5 {
  background-color: #dbc710;
  height: 10px;
  width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 376px) {
  #titre-skills {
    font-size: 1.5rem;
  }
}

#portfolio {
  border-top: 1px solid white;
}

#titre-portfolio {
  margin: 50px auto;
  font-size: 3rem;
  color: #f3f0f0;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.container-card {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 200px;
  padding: 30px 0px 30px 0px;
  max-width: 1500px;
}

.col {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  width: 350px;
  margin: 20px;
  height: 370px;
  min-height: 370px;
  min-width: 350px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-body {
  background-color: white;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
}

.card-title {
  text-align: center;
}

.card-text {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #0c0c0c;
}

.button-card {
  position: absolute;
  bottom: 5px;
  left: 5rem;
  padding: 6px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
}

.button-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 2ms;
  transition: 2ms;
}

@media (max-width: 376px) {
  #titre-portfolio {
    font-size: 1.5rem;
  }
  .card aos-init aos-animate {
    margin: 0;
  }
  .container-card {
    margin: 0;
  }
  .card {
    max-width: 100px;
    max-height: 100px;
  }
  #card-1 {
    margin: 7px 0px;
  }
  #card-2 {
    margin: 7px 0px;
  }
  #card-3 {
    margin: 7px 0px;
  }
  #card-4 {
    margin: 7px 0px;
  }
  #card-5 {
    margin: 7px 0px;
  }
  #card-6 {
    margin: 7px 0px;
  }
}

.form-container {
  margin-top: 140px;
  padding: 30px;
  border-top: 1px solid white;
}

.form h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}

.form {
  position: relative;
}

.grid {
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "name mail" "inp1 inp2" "message message" "area area" "btn btn";
  gap: 10px;
}

.grid :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
  color: #f3f0f0;
}

.grid :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mail;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
  color: #f3f0f0;
}

.grid :nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: inp1;
  height: 35px;
}

.grid :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: inp2;
  height: 35px;
}

.grid :nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  margin: 20px;
  color: #f3f0f0;
}

.grid :nth-child(6) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: area;
  resize: none;
}

.grid :nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: btn;
  width: 130px;
  margin: 20px auto;
  color: #f3f0f0;
  border: 1px solid #f3f0f0;
}

input, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
}

.btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 2ms;
  transition: 2ms;
  -webkit-box-shadow: 2px 2px 3px white;
          box-shadow: 2px 2px 3px white;
}

.footer-container {
  border-top: 1px solid white;
  background-color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.icon-border {
  margin: 5px;
  border: 1px solid white;
  border-radius: 150px;
  padding: 10px;
}

.icon-border:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 3ms;
  transition: 3ms;
  cursor: pointer;
}

li {
  margin: 20px;
  color: #f3f0f0;
}

li img {
  margin-right: 5px;
}

@media (max-width: 376px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */