@import "./sass/themes/settings";
@import "./sass/themes/header";
@import "./sass/themes/presentation";
@import "./sass/themes/skills";
@import "./sass/themes/porteFolio";
@import "./sass/themes/form";
@import "./sass/themes/footer";

