.form-container{
    margin-top: 140px;
    padding: 30px;
    border-top: 1px solid white;
}
.form{
    position: relative;
  }
  .form::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
  }
  .grid {
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name mail"
      "inp1 inp2"
      "message message"
      "area area"
      "btn btn";
      gap: 10px;
  }
  .grid :nth-child(1) {
    grid-area: name;
    font-weight: bold;
    text-align: center;
    height: 20px;
    font-size: 0.75rem;
    color: $color-1;
  }
  .grid :nth-child(2) {
    grid-area: mail;
    font-weight: bold;
    text-align: center;
    height: 20px;
    font-size: 0.75rem;
    color: $color-1;
  }
  .grid :nth-child(3) {
    grid-area: inp1;
    height: 35px;
  }
  .grid :nth-child(4) {
    grid-area: inp2;
    height: 35px;
  }
  .grid :nth-child(5) {
    grid-area: message;
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
    margin: 20px;
    color: $color-1;
  }
  .grid :nth-child(6) {
    grid-area: area;
    resize: none;
  }
  .grid :nth-child(7) {
    grid-area: btn;
    width: 130px;
    margin: 20px auto;
    color: $color-1;
    border: 1px solid $color-1;
  }
  input, textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    
  }
  .btn:hover{
      transform: scale(1.3);
      transition: 2ms;
      box-shadow: 2px 2px 3px white;
  }