header{
    .nav-bar{
        
        background-image: url(../img/pc-portable.png);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: #161616;
            animation: animBefore 1.5s ease forwards;
            animation-delay: 0.8s;
          
            @keyframes animBefore {
                to {
                    opacity: 0;
                }
            }
         }
       }
    
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    li{
        
        margin: 20px;
        // border: 1px solid;
        // // box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.274);
        // // border-radius: 10px;
        // // background-color: rgba(243, 243, 243, 0);
        // padding: 10px;
    }
     }
                a{
                    font-family: $font-1;
                    color: white;  
                    &:hover{
                        color: white;
                    }
                 }
       .underline {
          display: inline-block;
          position: relative;
          color: $color-1;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(54, 54, 54) 100%);
            transform-origin: bottom right;
            transition: transform 0.35s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
        
        
    .titre{
        text-align: center;
       margin-top: 250px;
        // h1{
            //     font-size: 3.5rem;
            //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            //     text-shadow: 1px 2px 2px rgb(65, 64, 64);
            //     margin: 10px;
        h1{
            width: 490px;
            display: inline-block;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.534);
            
            color: rgba(240, 240, 240, 0.952);
            font-family: 'Architects Daughter', cursive;
            font-size: 5em;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid rgb(240, 238, 238);
            animation: cursor 7s infinite linear,
            typing 5s steps(15) infinite both;
        }
        
        @keyframes cursor{
            0%{border-color: transparent;}
            50%{border-color: rgb(37, 37, 37);}
            100%{border-color: transparent;}
        }
        
        @keyframes typing{
            0%{ width: 0;}
            30%{ width: 650px;}
            70%{ width: 650px;}
            90%{ width: 0;}
            100%{ width: 0;}
        }
        h2{
            font-size: 2rem;
            font-family: $font-1;
            color: rgb(240, 238, 238);
            
            
        }
        
    }
    @media (max-width: 760px){
        .titre{
             h1{
                font-size: 2.5rem;
                 
        @keyframes typing{
            0%{ width: 0;}
            30%{ width: 350px;}
            70%{ width: 350px;}
            90%{ width: 0;}
            100%{ width: 0;}
        }
                }
        }
    }
    @media (max-width: 660px){
        .nav-bar{
            a{
                font-size: 1rem;
            }
        }
    }
    @media (max-width: 550px){
        .nav-bar{
            a{
                font-size: 1rem;
            }
        }
    }
    @media (max-width: 500px){
        .nav-bar{
            a{
                font-size: 0.9rem;
            }
        }
    }
    @media (max-width: 450px){
        .nav-bar{
            li{
                margin: 10px;
            }
            a{
                font-size: 0.8rem;
            }
        }
    }
    @media (max-width: 376px){
        .nav-bar{
            li{
                margin: 8px;
            }
            a{
                font-size: 0.9rem;
                
            }
        }
        .titre{
            h1{
                font-size: 1.7rem;
            
                @keyframes typing{
                    0%{ width: 0;}
                    30%{ width: 210px;}
                    70%{ width: 210px;}
                    90%{ width: 0;}
                   100%{width: 0;}
                    
            }
        }
            h2{
                font-size: 1.2rem;
                background-color: rgba(0, 0, 0, 0.534);
                margin-left: 70px;
                width: 170px;
            
            }
        }

    
    }