#portfolio{
  border-top: 1px solid white;
}
#titre-portfolio{
  margin: 50px auto;
  font-size: 3rem;
  color: #f3f0f0;
  font-family: $font-1;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}


.container-card{
  //border-top: 1px solid white;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto 200px;
  padding: 30px 0px 30px 0px;
  max-width: 1500px;


}
.col{
  // border-radius: 20px;
  // border: 1px solid transparent;
  // max-height: 400px;
  // max-width: 400px;
  //margin: 20px;
  align-items: center;
  justify-content: center;
  display: flex;

}
.card{
  width: 350px;
  margin: 20px;
  height: 370px;
  min-height: 370px;
  min-width: 350px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  align-items: center;
  justify-content: center;
  
}
.card-body{
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0px 0px 20px 20px ;
 
  
}
.card-img-top{
  border-radius: 20px 20px 0px 0px ;
}
.card-title{
  text-align: center;
}
.card-text{
  margin: 0;
  padding: 10px;
  text-align: center;
  color: $color-2;
}


.button-card{
  position: absolute;
  bottom: 5px;
  left: 5rem;
  padding: 6px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  &:hover{
    transform: scale(1.1);
    transition: 2ms;
  }
}
@media (max-width: 376px){
     #titre-portfolio{
      font-size: 1.5rem;
     }
     .card aos-init aos-animate{
       margin: 0;
     }
  
     .container-card
     {
       margin: 0;
     }
     .card{
       max-width: 100px;
       max-height: 100px;
     }
     #card-1{
      margin: 7px 0px;
     }
     #card-2{
      margin: 7px 0px;
     }
     #card-3{
      margin: 7px 0px;
     }
     #card-4{
      margin: 7px 0px;
     }
     #card-5{
      margin: 7px 0px;
     }
     #card-6{
      margin: 7px 0px;
     }
}