
.container-card{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;

}
.col{
  // border-radius: 20px;
  // border: 1px solid transparent;
  // max-height: 400px;
  // max-width: 400px;
  //margin: 20px;
  align-items: center;
  justify-content: center;
  display: flex;

}
.card{
  width: 350px;
  margin: 20px;
  height: 370px;
  min-height: 370px;
  min-width: 350px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  align-items: center;
  justify-content: center;
  
}
.card-body{
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0px 0px 20px 20px ;
 
  
}
.card-img-top{
  border-radius: 20px 20px 0px 0px ;
}
.card-title{
  text-align: center;
}
.card-text{
  margin: 0;
  padding: 10px;
  text-align: center;
  color: $color-2;
}


.button-card{
  position: absolute;
  bottom: 5px;
  left: 5rem;
  padding: 6px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 0.7rem;
}
